/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap');

/* common styles & utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #dcd7fa;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #f6f2f7;
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

hr {
    width: 870px;
    height: 1px;
    background: #D1D1D1;
    margin-bottom: 29px;
}

/* player styling */

.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;

    padding-bottom: 10px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* --------------------------Top Vlogs--------------
---------------------------------------------------- */
.blogs-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.thumbnails img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
    color: #000000;
}

.author {
    font-size: 16px;
    color: #562EFF;
    text-decoration: none;
}

.para {
    font-size: 16px;
    color: #9F9F9F;
}

.blogs {
    display: flex;
}

.blog-info {
    margin-left: 16px;
}

/* -----------------------------------------lastest courses styles------------------------
-------------------------- ------------------------------------------------------------------------*/
.course-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.course-fr {
    width: 260px;
    height: 270px;
}

.courses img {
    width: 240px;
    height: 104px;
}

.course-name {
    font-family: 'Roboto';
    font-weight: 500;
    color: #200606;
    font-size: 20px;
}

.author-name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;

}

.course-detials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-detials p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: rgb(122, 141, 148);
    font-size: 12px;
}

.time {
    height: 20px;
    padding: 4px 5px;
    font-weight: 500;
    font-size: 14px;
    color: #FF4A60;
    background-color: #ecc1c6;
    border-radius: 15px;
}

/* ---------------------------------------------------------------------------
                            small devices 
------------------------------------------------------------------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs-div {
        grid-template-columns: repeat(1, 1fr);

    }

    .player,
    .blogs {
        justify-content: center;

    }

    .course-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs-div,
    .course-div {
        grid-template-columns: repeat(1, 1fr);

    }

    .player,
    .blogs,
    .course-div {
        justify-content: center;

    }

    .blogs,
    .course-div {
        display: flex;
        flex-direction: column;

    }
}